.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.3em;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
  .left{
    display: flex;
    margin-left: 2em;

    .log{
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 800;
      padding: 0.5em;
      width: 8rem;

      a{
        width: 100%;

        img{
          max-width: 100%;
        }
      }
    }

    .mobile_menu{
      display: none;
    }
    .menu_list {
      display: flex;
      li{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding : 0.2em 1em 0.5em 1em;

        a{
          font-size: 0.8em;
          text-decoration: none;
        }
      }
    }
  }

  .right{
    display: flex;
    margin-right: 2em;
    .icon{
      padding: 0.5em 1em 0.5em 1em;
    }
    .profile{
      padding: 0;

      a{
        display: flex;
        align-items: center;
        .avatar_box{
          width: 30px;
          height: 30px;
          background-color: #333;
          border-radius: 3px;
          margin-right: 10px;
        }
      }
      i{
        transition: all 300ms;
      }
      :hover i{
        transform: rotate(180deg);
      }
    }
    .search{
      border: 1px solid white;
      background-color: black;

      .search_bar {
        display: flex;
        i {
          margin-right: 0.5em;
        }
        input {
          padding-left: 1em;
          background-color: transparent;
          border: none;
          color: #333;
          outline: none;
        }
      }
    }
  }
}

.section{
  .content_list {
    margin-bottom: 3rem;
    position: relative;
    h1{
      margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    }
  }
  .slider{
    display: flex;
    gap: 0.5rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    .item {
      min-width: 256;
      height: 384px;
      background: #262626;
      background: linear-gradient(312deg, #262626 0%, #333333 54%, #2a2a2a 100%);
      border-radius: 5px;
    }
  }
  .slider::-webkit-scrollbar {
    display: none;
  }

  .prev {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-10px);
    cursor: pointer;
  }

  .next {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-10px);
    cursor: pointer;
  }
}